.card{   
    border:1px solid black;    
    height: 400px;
    width: 300px;   
    border-radius: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
#cards1{
    z-index: 1;
    rotate:-15deg;    
    background-color: rgb(72, 0, 255);    
}
#cards1:hover{
    z-index: 10;
}

#cards2{
    z-index: 2;
    rotate:-10deg;
    background-color: yellow;    
}
#cards2:hover{
    z-index: 10;
}
#cards3{
    z-index: 3;
    rotate:-5deg;
    background-color: rgb(255, 0, 0);   
}
#cards3:hover{
    z-index: 10;
}
#cards4{ 
    z-index: 4;   
    background-color: rgb(0, 255, 51);      
}
#cards4:hover{
    z-index: 10;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}